
{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </header>
    <div>{% block url_one %}{% endblock %}</div>
    <div>{% block url_two %}{% endblock %}</div>

    <div>{% block text %}{% endblock %}</div>
</body>
</html>